<h1>Post: <%= @post.title %></h1>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<h2><%= @post.content %></h2>

<ul>
  <% @post.comments.each do |comment| %>
    <p><%= comment.content %> - <%= comment.user.username %><p>
  <% end %>
</ul>

<h4>Commentors:</h4>

